form {
  background-color: white;
  padding: 100px;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

header {
  font-size: 3vw;
}

h2 {
  font-size: 2.5vw;
}

h1 {
  font-size: 1.5vw;
}

#dashboard-header-div {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(
    45deg,
    #1064d1 0%,
    #0047a5 20%,
    #400bcf 52%,
    #1e0433 90%
  );
  color: white;
  margin: 10px 0 15px 0;
}

#dashboard-search-div {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px 0 0;
}

#search-bar-div {
  width: 100%;
  height: 30%;
  border-bottom: 1px solid gray;
}

#city-div {
  width: 100%;
  height: 70%;
}

#dashboard-search-h2 {
  width: 100%;
  margin: 0 0 10px 0;
}

#dashboard-search-input {
  width: 100%;
  height: 40px;
  border: 0.5px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

#dashboard-search-button {
  width: 100%;
  background-color: rgb(54, 135, 211);
  color: white;
  border: none;
  height: 30px;
  border-radius: 3px;
  margin: 0 0 10px 0;
}

#current-uv-div {
  display: flex;
  padding: 2px 0 2px 0;
}

#dashboard-current-h1-uv-title {
  padding: 2px 10px 0 0;
}

#dashboard-current-h1-uv {
  padding: 2px 10px 2px 10px;
  color: white;
  border-radius: 4px;
}

#forecast-container-div {
  flex: 5;
}

#dashboard-current-div {
  border: 1px solid black;
  padding: 7px;
}

#dashboard-forecast-day-div {
  display: flex;
  justify-content: space-between;
}

.forecast-day {
  color: white;
  background-color: rgb(10, 49, 73);
  width: 18%;
  border-radius: 2px;
  padding: 4px;
}

.city-button {
  width: 100%;
  margin: 5px 0 5px 0;
}

.mild {
  background-color: darkgreen;
}

.moderate {
  background-color: orangered;
}

.severe {
  background-color: red;
}
